Repository Sensi44/44_cohort_03: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, lint_scss

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: yarn eslint {staged_files}
    prettier:
      glob: '*.{ts,tsx,css}'
      run: yarn prettier -w {staged_files}
      stage_fixed: true
    lint_scss:
      glob: '*.scss'
      run: yarn lint:scss -w {staged_files}
      stage_fixed: true

Add caches in service worker
  packages/client/public/service-worker.js
Due: none

Refactor service worker cache management and fetch listener
  packages/client/public/service-worker.js
Due: none

Revert "Refactor service worker cache management and fetch listener"
  packages/client/public/service-worker.js
Due: none

Refactor service worker to streamline cache and fetch logic
  packages/client/public/service-worker.js
  packages/client/vite.config.ts
Due: lint, prettier

Cash only basic events
  packages/client/public/service-worker.js
Due: none

Remove console log from handleRequest function
  packages/client/public/service-worker.js
Due: none

Add Workbox configuration to VitePWA setup
  packages/client/vite.config.ts
Due: lint, prettier

Log network status and temporarily disable PWA plugin.
  packages/client/public/service-worker.js
  packages/client/vite.config.ts
Due: lint, prettier

Remove PWA plugin
  packages/client/package.json
  yarn.lock
Due: none

Remove debug logs
  packages/client/public/service-worker.js
Due: none

[YP-32] add enemies
  packages/client/src/Assets/img/asteroid.png
  packages/client/src/Assets/img/bomb.png
  packages/client/src/Assets/img/pirate.png
  packages/client/src/Constants/Game.ts
  packages/client/src/Constants/index.ts
  packages/client/src/GameEngine/UseRender.tsx
  packages/client/src/GameEngine/UseUpdate.tsx
  packages/client/src/RenderFunctions/DrawEnemy.ts
  packages/client/src/RenderFunctions/DrawHitsCount.ts
  packages/client/src/RenderFunctions/index.ts
  packages/client/src/Store/Slices/Game/Game.selector.ts
  packages/client/src/Store/Slices/Game/Game.slice.ts
  packages/client/src/Store/index.ts
  packages/client/src/UpdateFunctions/UseUpdateEnemies.tsx
  packages/client/src/UpdateFunctions/index.ts
  packages/client/src/Utils/game.ts
  packages/client/src/Utils/generators.ts
  packages/client/src/Utils/index.ts
Due: lint, prettier

YP-23: fix
  packages/client/src/Components/MessagesPanel/MessagesPanel.props.tsx
Due: lint, prettier

YP-37: add FullScreen
  packages/client/src/Components/App/App.scss
  packages/client/src/Components/App/App.tsx
  packages/client/src/Components/DebugPanel/DebugPanel.tsx
  packages/client/src/Hooks/UseToggleFullscreen.tsx
  packages/client/src/Hooks/index.ts
Due: lint, prettier, lint_scss

YP-37: fix
  packages/client/src/Components/App/App.tsx
  packages/client/src/Components/DebugPanel/DebugPanel.props.ts
  packages/client/src/Components/DebugPanel/DebugPanel.tsx
  packages/client/src/Hooks/UseToggleFullscreen.tsx
  packages/client/src/Hooks/index.ts
Due: lint, prettier

feat: add gameIntro component
  packages/client/src/Components/App/App.scss
  packages/client/src/Components/App/App.tsx
  packages/client/src/Components/GameIntro/GameIntro.props.ts
  packages/client/src/Components/GameIntro/GameIntro.tsx
Due: lint, prettier, lint_scss

[YP-32] move types
  packages/client/src/Store/Slices/Game/Game.selector.ts
  packages/client/src/Store/Slices/Game/Game.slice.ts
  packages/client/src/Store/Types/Games.types.ts
  packages/client/src/Store/index.ts
Due: lint, prettier

update readme
  README.md
Due: none

Added oauth endpoints
  packages/client/src/Constants/Api.ts
  packages/client/src/Constants/index.ts
  packages/client/src/Pages/SignInPage/SignInPage.tsx
  packages/client/src/Store/Slices/Api/Profile.api.ts
  packages/client/src/Store/index.ts
  packages/client/src/Types/OAuth.types.ts
  packages/client/src/Types/index.ts
Due: lint, prettier

Added query params in redirect from main page
  packages/client/src/privateRoutes.tsx
Due: lint, prettier

Update OAuth redirect URI to use dynamic origin
  packages/client/src/Pages/SignInPage/SignInPage.tsx
  packages/client/src/Store/Slices/Api/Profile.api.ts
Due: lint, prettier

Add location usage
  packages/client/src/Pages/SignInPage/SignInPage.tsx
Due: lint, prettier

[YP-40] add express
  .env.sample
  Dockerfile.client
  docker-compose.yml
  packages/client/.gitignore
  packages/client/index.html
  packages/client/jest.config.mjs
  packages/client/package.json
  packages/client/server/index.js
  packages/client/server/index.ts
  packages/client/src/Components/App/App.test-disabled.tsx
  packages/client/src/Constants/server-constants.ts
  packages/client/src/RenderFunctions/DrawBackground.ts
  packages/client/src/RenderFunctions/DrawEnemy.ts
  packages/client/src/RenderFunctions/DrawPlayer.tsx
  packages/client/src/Store/index.ts
  packages/client/src/client.d.ts
  packages/client/src/entry-service.tsx
  packages/client/src/entry-service.utils.ts
  packages/client/src/main.tsx
  packages/client/src/routes.tsx
  packages/client/tsconfig.json
  packages/client/tsconfig.server.json
  packages/client/vite.config.ts
  packages/server/tsconfig.json
  yarn.lock
Due: lint, prettier

[YP-40/express] disable test
  packages/client/src/Components/App/App.test-disabled.tsx
  packages/client/src/Components/App/App.test.tsx
Due: lint, prettier

fix tests
  packages/client/jest.config.mjs
  packages/client/src/Components/App/App.test.tsx
Due: lint, prettier

[YP-40] fix test
  packages/client/package.json
  packages/client/server/index.d.ts
  packages/client/src/Components/App/App.test.tsx
  packages/client/src/RenderFunctions/DrawBackground.ts
  packages/client/src/RenderFunctions/DrawEnemy.ts
  packages/client/src/RenderFunctions/DrawPlayer.tsx
  packages/client/vite.config.ts
  yarn.lock
Due: lint, prettier

feat: add css ssr; refactor private route; disable worker in dev mode
  packages/client/index.html
  packages/client/package.json
  packages/client/server/index.js
  packages/client/server/index.ts
  packages/client/src/Components/App/App.test.tsx
  packages/client/src/Components/App/App.tsx
  packages/client/src/Components/ProfileAvatar/ProfileAvatar.tsx
  packages/client/src/Constants/Config.ts
  packages/client/src/Constants/index.ts
  packages/client/src/ServiceWorker/index.ts
  packages/client/src/ServiceWorker/stop.ts
  packages/client/src/Utils/createEmotionCache.ts
  packages/client/src/entry-service.tsx
  packages/client/src/main.tsx
  packages/client/src/privateRoutes.tsx
  packages/client/src/routes.tsx
  yarn.lock
Due: lint, prettier

fix: lint error
  packages/client/server/index.js
Due: none

feat: exclude js ext for lint
  .eslintrc.js
Due: none

YP-43 добавлена веб апи нотификаций для случаев когда игра запущена и вкладка долгое время неактивна
  packages/client/index.html
  packages/client/jest.config.mjs
  packages/client/jest.setup.js
  packages/client/src/Components/App/App.tsx
  packages/client/src/Components/InactivityWarning/InactivityWarning.tsx
  packages/client/src/Components/index.ts
Due: lint, prettier

YP-43 выровнял работу игры до 60 фпс, нормализовалась скорость игры и вывожу корректный фпс а не рейтинг обновления экрана
  packages/client/src/Components/App/App.scss
  packages/client/src/Components/App/App.tsx
  packages/client/src/GameEngine/UseRender.tsx
  packages/client/src/Hooks/UseGameLoop.tsx
Due: lint, prettier, lint_scss

YP-43 fix review
  packages/client/src/Components/InactivityWarning/InactivityWarning.tsx
  packages/client/src/Constants/Game.ts
  packages/client/src/Constants/index.ts
  packages/client/src/GameEngine/UseRender.tsx
Due: lint, prettier

YP-44: add api leaderBord
  packages/client/src/Components/App/App.tsx
  packages/client/src/Components/GameIntro/GameIntro.props.ts
  packages/client/src/Components/GameIntro/GameIntro.tsx
  packages/client/src/Components/TableLeaderBord/TableLeaderBord.tsx
  packages/client/src/Constants/Api.ts
  packages/client/src/Constants/Game.ts
  packages/client/src/Constants/index.ts
  packages/client/src/Store/Slices/Api/LeaderBord.api.ts
  packages/client/src/Store/Slices/Game/Game.slice.ts
  packages/client/src/Store/index.ts
  packages/client/src/Types/LeaderBord.types.ts
Due: lint, prettier

Implement backend support for topics, comments, and replies
  packages/server/Api/CommentAPI.ts
  packages/server/Api/CommentReplyAPI.ts
  packages/server/Api/TopicAPI.ts
  packages/server/Middleware/RequireAuth.ts
  packages/server/Middleware/SanitizeInput.ts
  packages/server/Models/Comment.ts
  packages/server/Models/CommentReply.ts
  packages/server/Models/Topic.ts
  packages/server/PGClient.ts
  packages/server/RestServices/BaseRESTService.ts
  packages/server/RestServices/CommentReplyService.ts
  packages/server/RestServices/CommentService.ts
  packages/server/RestServices/TopicService.ts
  packages/server/Sequelize.ts
  packages/server/index.ts
  packages/server/package.json
  packages/server/tsconfig.json
  yarn.lock
Due: lint, prettier

Refactor models and services
  packages/server/Models/Comment.ts
  packages/server/Models/CommentReply.ts
  packages/server/Models/Topic.ts
  packages/server/Models/Types/Comment.types.ts
  packages/server/Models/Types/CommentReply.types.ts
  packages/server/Models/Types/Topic.types.ts
  packages/server/RestServices/CommentReplyService.ts
  packages/server/RestServices/CommentService.ts
  packages/server/RestServices/TopicService.ts
  packages/server/RestServices/Types/CommentReplyService.types.ts
  packages/server/RestServices/Types/CommentService.types.ts
  packages/server/RestServices/Types/TopicService.types.ts
Due: lint, prettier

Rename `themesRouter` to `topicRouter` in TopicAPI routes.
  packages/server/Api/TopicAPI.ts
Due: lint, prettier

Refactor route definitions into a centralized constants file.
  packages/server/Api/CommentAPI.ts
  packages/server/Api/CommentReplyAPI.ts
  packages/server/Api/TopicAPI.ts
  packages/server/Constants/Routes.ts
Due: lint, prettier

Introduce Winston logger and replace console logs
  .env.sample
  .gitignore
  packages/server/Api/CommentAPI.ts
  packages/server/Api/CommentReplyAPI.ts
  packages/server/Api/TopicAPI.ts
  packages/server/Middleware/RequireAuth.ts
  packages/server/PGClient.ts
  packages/server/Sequelize.ts
  packages/server/index.ts
  packages/server/logger.ts
  packages/server/logs/.gitkeep
  packages/server/package.json
  yarn.lock
Due: lint, prettier

YP-44: add api leaderBord + fix
  packages/client/src/Components/GameIntro/GameIntro.props.ts
  packages/client/src/Components/GameIntro/GameIntro.tsx
  packages/client/src/Store/Slices/Api/LeaderBord.api.ts
  packages/client/src/Types/LeaderBord.types.ts
Due: lint, prettier

YP-44: add api leaderBord + fix lint
  packages/client/src/Constants/index.ts
Due: lint, prettier

Add user association to models and APIs
  packages/server/Api/CommentAPI.ts
  packages/server/Api/CommentReplyAPI.ts
  packages/server/Api/TopicAPI.ts
  packages/server/Middleware/RequireAuth.ts
  packages/server/Middleware/Types/AuthRequest.type.ts
  packages/server/Models/Comment.ts
  packages/server/Models/CommentReply.ts
  packages/server/Models/Topic.ts
  packages/server/Models/Types/Comment.types.ts
  packages/server/Models/Types/CommentReply.types.ts
  packages/server/Models/Types/Topic.types.ts
  packages/server/Models/Types/User.types.ts
  packages/server/Models/User.ts
  packages/server/RestServices/Types/CommentReplyService.types.ts
  packages/server/RestServices/Types/CommentService.types.ts
  packages/server/RestServices/Types/TopicService.types.ts
  packages/server/index.ts
  packages/server/package.json
  yarn.lock
Due: lint, prettier
