Repository Sensi44/44_cohort_03: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, lint_scss

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: yarn eslint {staged_files}
    prettier:
      glob: '*.{ts,tsx,css}'
      run: yarn prettier -w {staged_files}
      stage_fixed: true
    lint_scss:
      glob: '*.scss'
      run: yarn lint:scss -w {staged_files}
      stage_fixed: true

feat: add initial providers; styles files; configure store
  lefthook.yml
  package.json
  packages/client/src/App.scss
  packages/client/src/App.tsx
  packages/client/src/app/hooks.ts
  packages/client/src/app/store.ts
  packages/client/src/index.css
  packages/client/src/index.scss
  packages/client/src/main.tsx
  packages/client/src/services/counter/counterSlice.ts
Due: lint, prettier, lint_scss

fix: engines node version
  package.json
Due: none

fix: tests node version
  .github/workflows/checks.yml
Due: none

fix: linters
  packages/client/package.json
  packages/client/src/App.test.tsx
  packages/server/__tests__/example.test.ts
  packages/server/package.json
Due: lint, prettier

fix: test errors
  packages/client/src/App.tsx
Due: lint, prettier

chore: add .nvmrc pinned node version 20.14.0
  .nvmrc
Due: none

YP-9 style: удалил лишнее, добавил title, lintfix
  packages/client/index.html
  packages/client/src/App.tsx
Due: lint, prettier

YP-9 fix: delete strict mode, lint fix
  packages/client/src/main.tsx
Due: lint, prettier

YP-16 chore: изменить структуру папок и файлов проекта
  packages/client/src/Assets/.keep
  packages/client/src/Components/App/App.scss
  packages/client/src/Components/App/App.test.tsx
  packages/client/src/Components/App/App.tsx
  packages/client/src/app/hooks.ts
  packages/client/src/app/store.ts
  packages/client/src/main.tsx
  packages/client/src/services/counter/counterSlice.ts
  packages/client/tsconfig.json
  packages/client/vite.config.ts
Due: lint, prettier, lint_scss

YP-16 fix: обновлён конфиг тестов для поддержки scss
  packages/client/jest.config.js
  packages/client/package.json
Due: none

Добавил маршруты роутинга + заглушки страниц
  packages/client/src/main.tsx
  packages/client/src/pages/errorPage/Error.tsx
  packages/client/src/pages/errorPage/index.tsx
  packages/client/src/pages/forumPage/Forum.tsx
  packages/client/src/pages/forumPage/index.tsx
  packages/client/src/pages/index.tsx
  packages/client/src/pages/leaderBordPage/LeaderBord.tsx
  packages/client/src/pages/leaderBordPage/index.tsx
  packages/client/src/pages/notFoundPage/NotFound.tsx
  packages/client/src/pages/notFoundPage/index.tsx
  packages/client/src/pages/profilePage/Profile.tsx
  packages/client/src/pages/profilePage/index.tsx
  packages/client/src/pages/singInPage/SingIn.tsx
  packages/client/src/pages/singInPage/index.tsx
  packages/client/src/pages/singUpPage/SingUp.tsx
  packages/client/src/pages/singUpPage/index.tsx
  packages/client/src/privateRoutes.tsx
Due: lint, prettier

отмена коммита
  packages/client/src/main.tsx
  packages/client/src/pages/errorPage/Error.tsx
  packages/client/src/pages/errorPage/index.tsx
  packages/client/src/pages/forumPage/Forum.tsx
  packages/client/src/pages/forumPage/index.tsx
  packages/client/src/pages/index.tsx
  packages/client/src/pages/leaderBordPage/LeaderBord.tsx
  packages/client/src/pages/leaderBordPage/index.tsx
  packages/client/src/pages/notFoundPage/NotFound.tsx
  packages/client/src/pages/notFoundPage/index.tsx
  packages/client/src/pages/profilePage/Profile.tsx
  packages/client/src/pages/profilePage/index.tsx
  packages/client/src/pages/singInPage/SingIn.tsx
  packages/client/src/pages/singInPage/index.tsx
  packages/client/src/pages/singUpPage/SingUp.tsx
  packages/client/src/pages/singUpPage/index.tsx
  packages/client/src/privateRoutes.tsx
Due: lint, prettier

[YP-14] add sign up page
  .eslintrc.js
  packages/client/src/Components/ErrorNotification/ErrorNotification.props.ts
  packages/client/src/Components/ErrorNotification/ErrorNotification.tsx
  packages/client/src/Components/SignUpForm/SignUp.props.ts
  packages/client/src/Components/SignUpForm/SignUpForm.scss
  packages/client/src/Components/SignUpForm/SignUpForm.tsx
  packages/client/src/Pages/SignUp/SignUp.scss
  packages/client/src/Pages/SignUp/SignUp.tsx
  packages/client/src/Services/Api.ts
  packages/client/src/Services/AuthService.ts
  packages/client/src/Types/UserCreate.ts
  packages/client/src/main.tsx
  packages/client/tsconfig.json
  packages/client/vite.config.ts
Due: lint, prettier, lint_scss

[YP-14] remove timeout
  packages/client/src/Services/Api.ts
Due: lint, prettier

YP-9 feat: add simple engine
  .eslintrc.js
  .prettierrc
  packages/client/index.html
  packages/client/jest.config.js
  packages/client/src/Components/App/App.scss
  packages/client/src/Components/App/App.test.tsx
  packages/client/src/Components/App/App.tsx
  packages/client/src/GameEngine/Engine.ts
  packages/client/src/GameEngine/UseRender.tsx
  packages/client/src/GameEngine/UseUpdate.tsx
  packages/client/src/GameEngine/index.ts
  packages/client/src/Hooks/UseGetCanvasSize.tsx
  packages/client/src/Hooks/index.ts
  packages/client/src/Types/common.types.ts
  packages/client/src/client.d.ts
  packages/client/src/main.tsx
  packages/client/tsconfig.json
  packages/client/vite.config.ts
  packages/server/__tests__/example.test.ts
  packages/server/db.ts
  packages/server/index.ts
  packages/server/jest.config.js
  yarn.lock
Due: lint, prettier, lint_scss

YP-9 feat: add simple engine
  packages/client/src/Hooks/UseSetCanvasContext.tsx
  packages/client/src/RenderFunctions/TestDrawFunction.tsx
  packages/client/src/RenderFunctions/index.ts
Due: lint, prettier

YP-9 feat: add simple engine
  packages/client/src/Components/App/App.tsx
  packages/client/src/GameEngine/UseRender.tsx
  packages/client/src/Hooks/UseGetCanvasSize.tsx
  packages/client/src/RenderFunctions/TestDrawFunction.tsx
Due: lint, prettier

YP-9 feat: add game engine
  packages/client/src/Components/App/App.scss
  packages/client/src/Components/App/App.tsx
  packages/client/src/Components/DebugPanel/DebugPanel.props.ts
  packages/client/src/Components/DebugPanel/DebugPanel.scss
  packages/client/src/Components/DebugPanel/DebugPanel.tsx
  packages/client/src/Hooks/UseGameLoop.tsx
  packages/client/src/Hooks/index.ts
  packages/client/tsconfig.json
  packages/client/vite.config.ts
Due: lint, prettier, lint_scss

YP-9 feat: add game engine
  packages/client/.stylelintrc.json
Due: none

YP-9 fix: fix config and tests
  packages/client/jest.config.js
  packages/client/src/Components/App/App.test.tsx
  packages/client/src/Components/App/App.tsx
  packages/client/src/GameEngine/index.ts
Due: lint, prettier

YP-9 fix: fix config and tests
  packages/client/src/GameEngine/Engine.ts
Due: lint, prettier

[YP-14] add sign in page
  packages/client/netlify.toml
  packages/client/src/Components/SignInForm/SignIn.props.ts
  packages/client/src/Components/SignInForm/SignInForm.scss
  packages/client/src/Components/SignInForm/SignInForm.tsx
  packages/client/src/Pages/SignIn/SignIn.scss
  packages/client/src/Pages/SignIn/SignIn.tsx
  packages/client/src/Services/Api.ts
  packages/client/src/Services/AuthService.ts
  packages/client/src/Store/Store.ts
  packages/client/src/Types/UserLogin.ts
  packages/client/src/main.tsx
Due: lint, prettier, lint_scss

YP-3 fix: fix name folders, delete index files
  packages/client/src/App.tsx
  packages/client/src/Pages/ErrorPage.tsx
  packages/client/src/Pages/ForumPage.tsx
  packages/client/src/Pages/LeaderBordPage.tsx
  packages/client/src/Pages/NotFoundPage.tsx
  packages/client/src/Pages/ProfilePage.tsx
  packages/client/src/Pages/SingInPage.tsx
  packages/client/src/Pages/SingUpPage.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/errorPage/Error.tsx
  packages/client/src/pages/errorPage/index.tsx
  packages/client/src/pages/forumPage/index.tsx
  packages/client/src/pages/index.tsx
  packages/client/src/pages/leaderBordPage/index.tsx
  packages/client/src/pages/notFoundPage/NotFound.tsx
  packages/client/src/pages/notFoundPage/index.tsx
  packages/client/src/pages/profilePage/index.tsx
  packages/client/src/pages/singInPage/index.tsx
  packages/client/src/pages/singUpPage/index.tsx
  packages/client/src/privateRoutes.tsx
Due: lint, prettier

YP-3 fix: add folders
  packages/client/src/Pages/ErrorPage/ErrorPage.tsx
  packages/client/src/Pages/ForumPage/ForumPage.tsx
  packages/client/src/Pages/LeaderBordPage/LeaderBordPage.tsx
  packages/client/src/Pages/NotFoundPage/NotFoundPage.tsx
  packages/client/src/Pages/ProfilePage/ProfilePage.tsx
  packages/client/src/Pages/SingInPage/SingInPage.tsx
  packages/client/src/Pages/SingUpPage/SingUpPage.tsx
  packages/client/src/main.tsx
Due: lint, prettier

YP-3 fix: update package.json
  package.json
Due: none

[YP-14] eslint fix
  packages/client/src/Components/ErrorNotification/ErrorNotification.props.ts
  packages/client/src/Components/ErrorNotification/ErrorNotification.tsx
  packages/client/src/Components/SignInForm/SignIn.props.ts
  packages/client/src/Components/SignInForm/SignInForm.tsx
  packages/client/src/Components/SignUpForm/SignUp.props.ts
  packages/client/src/Components/SignUpForm/SignUpForm.tsx
  packages/client/src/Services/Api.ts
  packages/client/src/Services/AuthService.ts
  packages/client/src/Store/Store.ts
  packages/client/src/Types/UserCreate.ts
  packages/client/src/Types/UserLogin.ts
  packages/client/tsconfig.json
Due: lint, prettier

[YP-14] refactor get user info
  packages/client/src/Pages/SignInPage/SignInPage.tsx
  packages/client/src/Services/AuthService.ts
Due: lint, prettier

[YP-14] move types to props files
  packages/client/src/Components/SignInForm/SignInForm.props.ts
  packages/client/src/Components/SignInForm/SignInForm.tsx
  packages/client/src/Components/SignUpForm/SignUp.props.ts
  packages/client/src/Components/SignUpForm/SignUpForm.props.ts
  packages/client/src/Components/SignUpForm/SignUpForm.tsx
Due: lint, prettier

[YP-14] move input data to constants
  packages/client/src/Components/ErrorNotification/ErrorNotification.tsx
  packages/client/src/Components/SignInForm/SignInForm.props.ts
  packages/client/src/Components/SignInForm/SignInForm.tsx
  packages/client/src/Components/SignUpForm/SignUpForm.props.ts
  packages/client/src/Components/SignUpForm/SignUpForm.tsx
  packages/client/src/Constants/InputForms.ts
  packages/client/src/Pages/SignInPage/SignInPage.tsx
  packages/client/src/Pages/SignUpPage/SignUpPage.tsx
  packages/client/tsconfig.json
  packages/client/vite.config.ts
Due: lint, prettier

[YP-14] rename types
  packages/client/src/Components/ErrorNotification/ErrorNotification.props.ts
  packages/client/src/Components/ErrorNotification/ErrorNotification.tsx
  packages/client/src/Components/SignInForm/SignInForm.props.ts
  packages/client/src/Components/SignInForm/SignInForm.scss
  packages/client/src/Components/SignInForm/SignInForm.tsx
  packages/client/src/Components/SignUpForm/SignUpForm.props.ts
  packages/client/src/Components/SignUpForm/SignUpForm.scss
  packages/client/src/Components/SignUpForm/SignUpForm.tsx
  packages/client/src/Constants/InputForms.ts
  packages/client/src/Pages/SignInPage/SignInPage.scss
  packages/client/src/Pages/SignInPage/SignInPage.tsx
  packages/client/src/Pages/SignUpPage/SignUpPage.scss
  packages/client/src/Pages/SignUpPage/SignUpPage.tsx
  packages/client/src/Services/AuthService.ts
  packages/client/src/Store/Store.ts
  packages/client/src/Types/User.types.ts
  packages/client/src/Types/UserLogin.ts
Due: lint, prettier, lint_scss

YP-10 feat: add store template
  .eslintrc.js
  .prettierrc
  packages/client/package.json
  packages/client/src/Components/SignInForm/SignInForm.tsx
  packages/client/src/Components/SignUpForm/SignUpForm.tsx
  packages/client/src/Constants/Api.ts
  packages/client/src/Services/Api.ts
  packages/client/src/StoreTemp/Hooks.ts
  packages/client/src/StoreTemp/Slices/Api/Profile.api.ts
  packages/client/src/StoreTemp/Slices/Profile/Profile.selector.ts
  packages/client/src/StoreTemp/Slices/Profile/Profile.slice.ts
  packages/client/src/StoreTemp/Slices/index.ts
  packages/client/src/StoreTemp/Types/User.types.ts
  packages/client/src/StoreTemp/index.ts
  packages/client/src/Types/User.types.ts
  packages/client/src/Utils/Queries/BaseQuery.ts
  yarn.lock
Due: lint, prettier

YP-26 fix: fix routes error
  packages/client/src/Components/App/App.scss
  packages/client/src/Components/App/App.test.tsx
  packages/client/src/Components/App/App.tsx
  packages/client/src/Components/Menu/Menu.scss
  packages/client/src/Components/Menu/Menu.tsx
  packages/client/src/Constants/Routes.ts
  packages/client/src/Pages/SignInPage/SignInPage.tsx
  packages/client/src/Pages/SignUpPage/SignUpPage.tsx
  packages/client/src/Services/AuthService.ts
  packages/client/src/Store/Hooks.ts
  packages/client/src/Store/Slices/Api/Profile.api.ts
  packages/client/src/Store/Slices/Profile/Profile.selector.ts
  packages/client/src/Store/Slices/Profile/Profile.slice.ts
  packages/client/src/Store/Slices/index.ts
  packages/client/src/Store/Types/User.types.ts
  packages/client/src/Store/index.ts
  packages/client/src/StoreOld/Store.ts
  packages/client/src/main.tsx
  packages/client/tsconfig.json
  packages/client/vite.config.ts
Due: lint, prettier, lint_scss

[YP-18] add pages without api
  packages/client/src/Components/ChangePasswordForm/ChangePasswordForm.props.ts
  packages/client/src/Components/ChangePasswordForm/ChangePasswordForm.tsx
  packages/client/src/Components/EditProfileForm/EditProfileForm.props.ts
  packages/client/src/Components/EditProfileForm/EditProfileForm.tsx
  packages/client/src/Components/ProfileAvatar/ProfileAvatar.props.ts
  packages/client/src/Components/ProfileAvatar/ProfileAvatar.tsx
  packages/client/src/Components/SignInForm/SignInForm.scss
  packages/client/src/Components/SignUpForm/SignUpForm.scss
  packages/client/src/Components/SignUpForm/SignUpForm.tsx
  packages/client/src/Constants/InputForms.ts
  packages/client/src/Pages/ProfilePage/ProfilePage.tsx
  packages/client/src/Pages/ProfilePage/ProfilePage.types.ts
  packages/client/src/Pages/SignInPage/SignInPage.scss
  packages/client/src/Pages/SignInPage/SignInPage.tsx
  packages/client/src/Pages/SignUpPage/SignUpPage.scss
  packages/client/src/Pages/SignUpPage/SignUpPage.tsx
  packages/client/src/Store/Slices/Profile/Profile.slice.ts
  packages/client/src/StoreOld/Store.ts
  packages/client/src/Types/User.types.ts
  packages/client/tsconfig.json
  packages/client/vite.config.ts
Due: lint, prettier, lint_scss

feat: add canvas for jest
  packages/client/package.json
  yarn.lock
Due: none

fix: project configs
  .eslintrc.js
  .prettierrc
  lefthook.yml
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/tsconfig.json
  packages/client/vite.config.ts
  yarn.lock
Due: lint, prettier

feat: add index files
  packages/client/src/Components/index.ts
  packages/client/src/Constants/index.ts
  packages/client/src/Pages/index.ts
  packages/client/src/Services/index.ts
  packages/client/src/StoreOld/index.ts
  packages/client/src/Types/index.ts
  packages/client/src/Utils/index.ts
Due: lint, prettier

fix: gameEngine layer imports
  packages/client/src/GameEngine/UseRender.tsx
  packages/client/src/GameEngine/index.ts
Due: lint, prettier

fix: hooks layer imports
  packages/client/src/Hooks/UseSetCanvasContext.tsx
  packages/client/src/Hooks/index.ts
Due: lint, prettier
