Repository Sensi44/44_cohort_03: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, lint_scss

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: yarn eslint {staged_files}
    prettier:
      glob: '*.{ts,tsx,css}'
      run: yarn prettier -w {staged_files}
      stage_fixed: true
    lint_scss:
      glob: '*.scss'
      run: yarn lint:scss -w {staged_files}
      stage_fixed: true

fix: pages layer imports
  packages/client/src/Components/SignInForm/SignInForm.props.ts
  packages/client/src/Components/SignInForm/SignInForm.tsx
  packages/client/src/Components/SignUpForm/SignUpForm.props.ts
  packages/client/src/Components/SignUpForm/SignUpForm.tsx
  packages/client/src/Pages/SignInPage/SignInPage.scss
  packages/client/src/Pages/SignInPage/SignInPage.tsx
  packages/client/src/Pages/SignUpPage/SignUpPage.scss
  packages/client/src/Pages/SignUpPage/SignUpPage.tsx
Due: lint, prettier, lint_scss

fix: store layer imports
  packages/client/src/Store/Hooks.ts
  packages/client/src/Store/Slices/Api/Profile.api.ts
  packages/client/src/Store/Slices/Profile/Profile.selector.ts
  packages/client/src/Store/index.ts
Due: lint, prettier

fix: components layer imports
  packages/client/src/Components/App/App.scss
  packages/client/src/Components/App/App.test.tsx
  packages/client/src/Components/App/App.tsx
  packages/client/src/Components/DebugPanel/DebugPanel.tsx
  packages/client/src/Components/ErrorNotification/ErrorNotification.props.ts
  packages/client/src/Components/ErrorNotification/ErrorNotification.tsx
  packages/client/src/Components/Menu/Menu.tsx
Due: lint, prettier, lint_scss

fix: components and utils layers imports
  packages/client/src/Constants/InputForms.ts
Due: lint, prettier

fix: others layers imports
  packages/client/index.html
  packages/client/src/RenderFunctions/TestDrawFunction.tsx
  packages/client/src/RenderFunctions/index.ts
  packages/client/src/Services/AuthService.ts
  packages/client/src/index.scss
  packages/client/src/main.tsx
Due: lint, prettier, lint_scss

fix: add build option for precommit
  lefthook.yml
  packages/client/vite.config.ts
  packages/server/tsconfig.prod.json
Due: lint, prettier

feat: reorgonise imports; add plugins for autoformatting imports
  .eslintrc.js
  .prettierrc
  packages/client/package.json
  packages/client/src/Components/App/App.test.tsx
  packages/client/src/Components/App/App.tsx
  packages/client/src/Components/DebugPanel/DebugPanel.tsx
  packages/client/src/Components/ErrorNotification/ErrorNotification.tsx
  packages/client/src/Components/Menu/Menu.tsx
  packages/client/src/Components/SignInForm/SignInForm.tsx
  packages/client/src/Components/SignUpForm/SignUpForm.tsx
  packages/client/src/Components/index.ts
  packages/client/src/Constants/index.ts
  packages/client/src/Hooks/UseGetCanvasSize.tsx
  packages/client/src/Hooks/UseSetCanvasContext.tsx
  packages/client/src/Hooks/index.ts
  packages/client/src/Pages/SignInPage/SignInPage.tsx
  packages/client/src/Pages/SignUpPage/SignUpPage.tsx
  packages/client/src/Services/AuthService.ts
  packages/client/src/Services/index.ts
  packages/client/src/Store/Slices/Api/Profile.api.ts
  packages/client/src/Store/index.ts
  packages/client/src/StoreOld/Store.ts
  packages/client/src/Utils/Queries/BaseQuery.ts
  packages/client/src/main.tsx
  packages/client/vite.config.ts
  yarn.lock
Due: lint, prettier

feat: reorgonise imports; add plugins for autoformatting imports
  packages/server/index.ts
Due: lint, prettier

Implement async auth check in PrivateRoutes component
  packages/client/src/privateRoutes.tsx
Due: lint, prettier

Removed status check in processing logic in AuthService
  packages/client/src/Services/AuthService.ts
Due: lint, prettier

Add logout functionality to Menu component
  packages/client/src/Components/LogoutButton/LogoutButton.tsx
  packages/client/src/Components/Menu/Menu.tsx
  packages/client/src/Services/AuthService.ts
Due: lint, prettier

Add new path aliases for Constants and Services
  packages/client/jest.config.js
Due: none

[YP-18] profile page with api handling
  packages/client/src/Components/ChangePasswordForm/ChangePasswordForm.tsx
  packages/client/src/Components/EditProfileForm/EditProfileForm.props.ts
  packages/client/src/Components/EditProfileForm/EditProfileForm.tsx
  packages/client/src/Constants/Api.ts
  packages/client/src/Pages/ProfilePage/ProfilePage.tsx
  packages/client/src/Pages/SignInPage/SignInPage.tsx
  packages/client/src/Pages/SignUpPage/SignUpPage.tsx
  packages/client/src/Services/Api.ts
  packages/client/src/Services/AuthService.ts
  packages/client/src/Store/Slices/Api/Profile.api.ts
  packages/client/src/Store/Slices/Profile/Profile.selector.ts
  packages/client/src/Store/Slices/Profile/Profile.slice.ts
  packages/client/src/Store/Types/User.types.ts
  packages/client/src/StoreOld/Store.ts
  packages/client/src/Types/User.types.ts
  packages/client/src/Utils/Queries/BaseQuery.ts
  packages/client/tsconfig.json
  packages/client/vite.config.ts
Due: lint, prettier

[YP-18] remove logs
  packages/client/src/Pages/ProfilePage/ProfilePage.tsx
  packages/client/tsconfig.json
  packages/client/vite.config.ts
Due: lint, prettier

YP-21 feat: add player
  packages/client/src/Assets/img/plane.png
  packages/client/src/Components/App/App.scss
  packages/client/src/Components/App/App.tsx
  packages/client/src/GameEngine/UseRender.tsx
  packages/client/src/Hooks/UseGameLoop.tsx
  packages/client/src/Hooks/UseGetCanvasSize.tsx
  packages/client/src/RenderFunctions/DrawPlayer.tsx
  packages/client/src/RenderFunctions/index.ts
  packages/client/src/Store/Slices/Game/Game.selector.ts
  packages/client/src/Store/Slices/Game/Game.slice.ts
  packages/client/src/Store/Slices/index.ts
Due: lint, prettier, lint_scss

YP-21 feat: add player
  packages/client/src/Assets/img/background.jpg
  packages/client/src/Assets/img/beaver-plane.png
  packages/client/src/Components/App/App.scss
  packages/client/src/Components/App/App.tsx
  packages/client/src/RenderFunctions/DrawPlayer.tsx
  packages/client/src/Store/Slices/Game/Game.slice.ts
Due: lint, prettier, lint_scss

YP-21 fix: fix imports
  packages/client/src/Components/App/App.tsx
  packages/client/src/RenderFunctions/DrawPlayer.tsx
  packages/client/src/Store/index.ts
Due: lint, prettier

YP-21 feat: добавлен двигающийся фон
  packages/client/src/Components/App/App.scss
  packages/client/src/GameEngine/UseRender.tsx
  packages/client/src/RenderFunctions/DrawPlayer.tsx
  packages/client/src/RenderFunctions/TestDrawFunction.tsx
  packages/client/src/RenderFunctions/index.ts
Due: lint, prettier, lint_scss

YP-21 feat: добавлен фон
  packages/client/src/Assets/img/background.jpg
  packages/client/src/Assets/img/plane.png
  packages/client/src/Components/App/App.scss
  packages/client/src/Components/App/App.tsx
  packages/client/src/GameEngine/UseRender.tsx
  packages/client/src/Hooks/UseGetCanvasSize.tsx
  packages/client/src/RenderFunctions/DrawBackground.ts
  packages/client/src/RenderFunctions/DrawPlayer.tsx
  packages/client/src/RenderFunctions/index.ts
Due: lint, prettier, lint_scss

[YP-18] remove alias
  packages/client/vite.config.ts
Due: lint, prettier

[YP-18] remove profile store
  packages/client/src/Components/EditProfileForm/EditProfileForm.props.ts
  packages/client/src/Components/EditProfileForm/EditProfileForm.tsx
  packages/client/src/Pages/ProfilePage/ProfilePage.tsx
  packages/client/src/Pages/SignInPage/SignInPage.tsx
  packages/client/src/Store/Slices/Api/Profile.api.ts
  packages/client/src/Store/Slices/Profile/Profile.selector.ts
  packages/client/src/Store/Slices/Profile/Profile.slice.ts
  packages/client/src/Store/Slices/index.ts
  packages/client/src/Store/index.ts
Due: lint, prettier

Handle user already in system during sign-in.
  packages/client/src/Pages/SignInPage/SignInPage.tsx
Due: lint, prettier

Fix route nesting
  packages/client/src/main.tsx
Due: lint, prettier

Refactor auth state handling in private routes
  packages/client/src/privateRoutes.tsx
Due: lint, prettier

Wrap App component with Redux Provider for tests
  packages/client/src/Components/App/App.test.tsx
Due: lint, prettier

Enable logout functionality in LogoutButton component
  packages/client/src/Components/LogoutButton/LogoutButton.tsx
Due: lint, prettier

Remove unnecessary React.FC type annotation
  packages/client/src/Components/LogoutButton/LogoutButton.tsx
Due: lint, prettier

YP-24: create leaderbord(page,api,slice)
  packages/client/src/Components/TableLeaderBord/TableLeaderBord.tsx
  packages/client/src/Components/index.ts
  packages/client/src/Constants/Api.ts
  packages/client/src/Constants/index.ts
  packages/client/src/Pages/LeaderBordPage/LeaderBordPage.tsx
  packages/client/src/Store/Slices/Api/LeaderBord.api.ts
  packages/client/src/Store/Slices/index.ts
  packages/client/src/Store/index.ts
  packages/client/src/Types/LeaderBord.types.ts
  packages/client/src/Types/index.ts
Due: lint, prettier

YP-24: fix based on comments
  packages/client/src/Components/TableLeaderBord/TableLeaderBord.props.ts
  packages/client/src/Components/TableLeaderBord/TableLeaderBord.tsx
  packages/client/src/Pages/LeaderBordPage/LeaderBordPage.tsx
  packages/client/src/Store/Slices/Api/LeaderBord.api.ts
  packages/client/src/Store/index.ts
Due: lint, prettier

YP-24: fix based on comments
  packages/client/src/Store/Slices/Api/LeaderBord.api.ts
Due: lint, prettier

[YP-20] add error and not found page
  packages/client/src/Components/ErrorBlock/ErrorBlock.props.ts
  packages/client/src/Components/ErrorBlock/ErrorBlock.tsx
  packages/client/src/Components/index.ts
  packages/client/src/Pages/ErrorPage/ErrorPage.tsx
  packages/client/src/Pages/NotFoundPage/NotFoundPage.tsx
Due: lint, prettier

Add service worker for caching and offline support
  packages/client/public/service-worker.js
  packages/client/src/main.tsx
Due: lint, prettier

Add service worker initialization module
  packages/client/public/service-worker.js
  packages/client/src/ServiceWorker/index.ts
  packages/client/src/ServiceWorker/start.tsx
  packages/client/src/main.tsx
  packages/client/tsconfig.json
  packages/client/vite.config.ts
Due: lint, prettier

YP-21 feat: добавлено управление
  packages/client/src/Components/App/App.tsx
  packages/client/src/GameEngine/UseUpdate.tsx
  packages/client/src/UpdateFunctions/UsePlayerControls.tsx
  packages/client/src/UpdateFunctions/index.ts
Due: lint, prettier

YP-21 feat: добавлен счётчик FPS
  packages/client/src/GameEngine/UseRender.tsx
  packages/client/src/RenderFunctions/DrawFps.ts
  packages/client/src/RenderFunctions/index.ts
Due: lint, prettier

YP-21 fix: delete comments
  packages/client/src/RenderFunctions/DrawPlayer.tsx
Due: lint, prettier

YP-23: update ForumPage
  packages/client/src/Components/MessagesPanel/MessagesPanel.props.tsx
  packages/client/src/Components/MessagesPanel/MessagesPanel.tsx
  packages/client/src/Components/RoomsPanel/RoomsPanel.props.tsx
  packages/client/src/Components/RoomsPanel/RoomsPanel.tsx
  packages/client/src/Components/index.ts
  packages/client/src/Pages/ForumPage/ForumPage.constant.tsx
  packages/client/src/Pages/ForumPage/ForumPage.tsx
Due: lint, prettier

fix: update tests and update loading images
  packages/client/__mocks__/fileMock.js
  packages/client/jest.config.js
  packages/client/src/RenderFunctions/DrawBackground.ts
  packages/client/src/RenderFunctions/DrawPlayer.tsx
Due: lint, prettier

Implement service worker caching for static assets
  packages/client/public/service-worker.js
  packages/client/src/ServiceWorker/start.tsx
Due: lint, prettier

Add vite-plugin-pwa in client dev dependencies.
  packages/client/package.json
  packages/client/vite.config.ts
  yarn.lock
Due: lint, prettier
